<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/telaHistorico.css">
    <script src="/js/historico.js" defer></script>
    <title>Histórico</title>
</head>

<body>
    <header>
        <div class="title">
            <nav class="subtitle">
                <a href="/logout" class="btn btn-link">Logoff</a>
                <a class="btn btn-link" href="/mostraInformacoes">Informações dos alunos</a>
            </nav>
        </div>
    </header>
    <main>
        <h1>Histórico de pagamento</h1>
        <input type="text" id="pesquisa" placeholder="Filtrar por data" />
        <section class="tabela-historico">
            <table class="table" id="table" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>RG do aluno</th>
                        <th>Nome do aluno</th>
                        <th>Data do Pagamento</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(alunos) { %>
                        <tr>
                            <td>
                                <%= alunos.rg_aluno %>
                            </td>
                            <td>
                                <%= alunos.nome_aluno %>
                            </td>
                            <td>
                                <%= alunos.data_pagamento.toLocaleDateString('pt-br', timeZone: "America/Sao_Paulo") %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>