<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/telaMensalidade.css">
    <script src="/js/mensalidade.js"></script>
    <title>Mensalidade</title>
</head>

<body>
    <header>
        <div class="title">
            <nav class="subtitle">
                <a href="/logout" class="btn btn-link">Logoff</a>
                <a href="/mostraInformacoes" class="btn btn-link">Informações dos alunos</a>
            </nav>
        </div>
    </header>
    <main>
        <h1>Mensalidade</h1>
        <section clas="editaMensalidade">
            <div class="form">
                <form method="post" action="/editaMensalidade" class="form-group" id="form" style="display: block;">
                    <label for="select">Aluno</label>
                    <select name="rg" id="select">
                        <% data.forEach(function(aluno) { %>
                            <option>
                                <%= aluno.rg_aluno + " " + aluno.nome %>
                            </option>
                            <% }); %>
                    </select><br>
                    <label for="on">Mensalidade</label>
                    <input type="checkbox" name="on" id="on" id="checkbox" /><br>
                    <div id="pagamento" style="display: none;">
                        <label for="data_pagamento">Data do pagamento</label>
                        <input type="date" name="data_pagamento" id="data_pagamento" min="2025-01-01" max="" required /><br>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
                </form>
            </div>
        </section>
    </main>
</body>
<script>
    const dataAtual = new Date().toISOString().split("T")[0];
    const input = document.getElementById("data_pagamento");
    input.setAttribute("max", dataAtual)
</script>

</html>