<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/telaPresenca.css">
    <script src="/js/presenca.js" defer></script>
    <title>Registra presença</title>
</head>

<body>
    <header>
        <div class="title">
            <nav class="subtitle">
                <a href="/logout" class="btn btn-link">Logoff</a>
                <a href="/mostraInformacoes" class="btn btn-link">Informações dos alunos</a>
            </nav>
        </div>
    </header>
    <main>
        <h1>Registro de Presença</h1>
        <section class="editaPresenca">
            <div class="form">
                <form method="post" action="/editaPresenca" class="form-group">
                    <label>Data da aula</label>
                    <input type="date" name="data_presenca" id="data_presenca" min="2025-01-01" max=""><br>
                    <label>Categoria</label>
                    <select name="categorias" id="categoria-select" required>
                        <option value="">Categoria</option>
                        <% data.forEach(function(categoria) { %>
                            <option value="<%= categoria.id %>">
                                <%= categoria.nome_categoria %>
                            </option>
                            <% }); %>
                    </select><br>
                    <div id="alunos-container"></div>
                    <button type="submit" id="submit-btn" style="display:none;">Confirmar</button>
                </form>
            </div>
        </section>
    </main>

</body>
<script>
    const dataAtual = new Date().toISOString().split("T")[0];
    const input = document.getElementById("data_presenca");
    input.setAttribute("max", dataAtual)
    input.value = dataAtual 
</script>

</html>